<script src="{{ asset('Resources/Lib/Js/dropzone.js') }}"></script>

<form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone" style="width:200px; height:200px; border:4px dashed black">
</form>