<script src="http://www.dropzonejs.com/new-js/dropzone.js?v=1473248119"></script>

<form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone" style="width:200px; height:200px; border:4px dashed black">
</form>